<div class="bg-[#1237AF] py-10">
  <div class="max-w-[1040px] mx-auto px-5">
    <div class="text-center">
      <ul
        class="font-bold text-white max-w-[720px] flex flex-wrap justify-center gap-4 mx-auto text-base md:text-xl"
      >
        <li class="flex-auto space-y-4 md:flex-1">
          <h4 class="font-medium md:text-lg">
            サービスの詳細を知りたい方はこちら
          </h4>
          <p>
            <a
              class="flex items-center justify-center h-12 px-4 rounded-full bg-[#F8BE06] text-[#093557] md:h-16"
              href="#target-contact-form">資料ダウンロード（無料）</a
            >
          </p>
        </li>
        <li class="flex-auto space-y-4 md:flex-1">
          <h4 class="font-medium md:text-lg">
            導入検討や説明をご希望の方はこちら
          </h4>
          <p>
            <a
              class="flex items-center justify-center h-12 px-4 rounded-full bg-white text-[#093557] md:h-16"
              href="https://nihongo.alc.co.jp/pages/company/lp/apply/"
              target="_blank"
              rel="noopener">お問い合わせ（無料）</a
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
