<footer class="site-footer bg-[#262626] text-white py-4">
  <ul
    class="text-sm my-8 [&_a:hover]:opacity-50 space-y-2 text-center md:space-y-0 md:flex md:flex-wrap md:justify-center md:[&>li]:px-4 md:[&>li]:border-l md:[&>li]:border-white md:[&>li:first-child]:border-none md:text-base"
  >
    <li>
      <a
        href="https://www.alc-education.co.jp/user-policy/2104.html"
        target="_blank"
        rel="noopener">利用規約</a
      >
    </li>
    <li>
      <a
        href="https://www.alc-education.co.jp/privacy-policy/2104.html"
        target="_blank"
        rel="noopener">プライバシーポリシー</a
      >
    </li>
    <li>
      <a
        href="https://www.alc-class-unlimited.com/apply/index.html"
        target="_blank"
        rel="noopener">お問い合わせ</a
      >
    </li>
    <li>
      <a href="https://www.alc-education.co.jp/" target="_blank" rel="noopener"
        >株式会社アルクエデュケーション</a
      >
    </li>
  </ul>
  <div class="copyrights text-center text-xs uppercase">
    &copy;{new Date().getFullYear()} ALC Education Inc.
  </div>
</footer>
